.App {
  padding: 0 30px 20px;
  /* margin: 0;
  padding: 0; */
}

.app-header {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.red {
  color: red;
}

.border {
  border: 1px solid plum;
  padding: 8px;
}